.center_top_boss{
    width: 100%;

}
.center_top_boss .center_body{
    width: 1090px;
    min-height: 300px;
    margin: auto;

    position: relative;
}
.search_crumb {
    padding: 3px 0 10px;
    color: #333;
    margin: 0 auto;
    height: 41px;
}
.bread_ul {
    margin-top: 19px;
}
.clearfix {
    _zoom: 1;
}
.fl {
    float: left;
    display: inline;
}
.clearfix {
    zoom: 1;
}
.fl {
    float: left;
    display: inline;
}
.search_crumb .bread_ul li {
    float: left;
    display: inline;
    padding-left: 9px;
    position: relative;
    font-weight: 700;
    font-family: "宋体";
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.search_crumb .bread_ul li a {
    color: #1A1A1A;
    margin-right: 3px;
    display: inline-block;
    overflow: hidden;
    max-width: 9.25em;
    max-width: none\0;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
a {
    color: #ed145b;
    text-decoration: none;
}
.right_search {
    position: relative;
    float: left;
    width: 156px;
    border: solid 1px #e7e7e7;
    margin-top: 14px;
    margin-left: 16px;
    padding: 3px;
    background-color: #FFF;
}
.search_gt_1 {
    position: absolute;
    top: 4px;
    left: -16px;
    font-family: "宋体";
    font-weight: 700;
}.bread_search_input {
    border: 0;
    _border: 0;
    outline: 0;
    height: 17px;
    line-height: 17px;
    margin-top: -2px;
}
input, textarea, select {
    *font-size: 100%;
}
.bread_search_img {
    background: url(../img/right_fdj.jpg) no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 10px;
    top: 5px;
    border: 0;
}

.center_search_{
    width: 1090px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    font-size: 16px;  
    text-align: left;
    text-indent: 10px; 
    border: 1px solid #efeded;
    font-weight: 800;

}
.center_search_ .search_span{
    
   
    color: #ed145b;
}
.search_list{
    height: 40px;
    border: 1px solid  #e7e7e7 ;
    border-top: none;
}
.search_list li{
    float: left;
    /* height: 40px; */
    margin-left: 20px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}
.search_list .search_list_span{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    clear: both;
    float: left;
}
.search_img_list li{
    position: relative;
    width:321px;
    height: 400px;
    float: left;
    border: 1px solid rgb(222, 222, 222,0.6);
    
    margin: 20px 20px 20px;
}
.search_img_list .box_show{
    transition: 1s;
    /* width: 350px; */
    box-shadow: 1px 1px 1px 1px rgb(155,155,155,0.6);
}
.search_img_list .search_img{
    z-index:1;
    width: 321px;
    height: 242px;
    z-index: 1;
}
.search_img_list .search_img img{
    width: 100%;
    height: 100%;
}
.search_img_list  .search_title{
    height: 60px;
    line-height:20px;
    font-size: 16px;
}
.search_img_list  .search_title a{
    color: #444444;
}
.search_img_list .search_prise{
    color: #ed145b;
    height: 40px;
    font-size:30px;
}
.search_img_list .search_shopping a{
display: inline-block;
height: 40px;
background-color: #ed145b;
width: 150px;
color: #fff;
font-size: 20px;
line-height: 40px;
text-align: center;
margin-top: 18px;
margin-left: 80px;
}
