/* 中心框架div */
.signTop {
    width: 100%;
    height: 460px;
    padding-top:50px ;
  }
  .sign {
    width: 960px;
    height: 370px;
    margin: 0 auto;
    background-image: url(../img/signPic.jpg);
    position: relative;
  }
  .aSign {
    display: block;
    position: absolute;
    width: 420px;
    height: 370px;
  }
  /* 登录父容器 */
  .sign .signBox {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #ededed;
    position: absolute;
    min-height: 400px;
    padding: 10px 23px;
    width: 310px;
    color: #333;
    top: -60px;
    right: 0;
  }
  .sign .loginTit {
    margin-bottom: 15px;
    line-height: 30px;
    *zoom: 1;
  }
  /* 头部 */
  .signBox h1 {
    font-weight: bold;
    font-size: 20px;
    color: #e31256;
  }
  .loginTit .tosignup {
    color: #969696;
    float: right;
  }
  .tosignup a {
color: #ed145b;
text-decoration: none;
}
/* 用户名 */

.sign .act, .sign .line {
font-size: 12px;
/* margin: 30px 0; */
clear: both;
color: #333;
}
.sign input {
-webkit-box-shadow: none;
box-shadow: none;
border: 1px solid #CFCFCF;
background-color: #fff;
vertical-align: middle;
padding: 10px 8px;
line-height: 1.5;
font-size: 14px;
outline: 0;
height: auto;
width: 284px;
}
.sign .formCon .arrOut {
  box-shadow: 0 0 4px 1px rgba(255,0,0,.8);
}
.sign .formCon .succeed{
  box-shadow: 0 0 4px 1px rgba(32,157,230,.4) ;
}
.textbox_ui i {
  background-position: 0 -100px;
  position: absolute;
  left: 5px;
  top: 80%;
   margin-top: -10px;
  height: 20px;
  width: 20px;
  background-image: url(../img/sign.png);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  display: none;
}
.textbox_ui{
  position: relative;
}

.textbox_ui .focus_text {
word-break: keep-all;
white-space: nowrap;
margin-top: 4px;
line-height: 30px;
height: 30px;
color: #999;
text-indent: 25px;
/* top: 100%; */
left: 0;
}
input[type=button] {
border: 1px solid #F9477A;
display: inline-block;
font-family: inherit;
word-break: keep-all;
background: #F8296D;
white-space: nowrap;
font-weight: 400;
text-align: center;
line-height: 40px;
font-weight: 700;
font-size: 14px;
cursor: pointer;
padding: 0 30px;
height: 40px;
color: #fff;
border: 0;
}
.sign .act p {
margin: 20px 0;
}
.sign form p a:hover{
text-decoration: underline;
}