 /* 中心登录 */
 .sign {
    width: 100%;
    height: 417px;
    margin-bottom: 50px;
    /* position: relative; */
  }
  .signImg {
    position: relative;
    width: 960px;
    height: 360px;
    background-image: url(../img/logo_new_v2.jpg);
  }
  /* top登录 */
  .signBox {
    background: rgba(255, 255, 255, 0.85);
    /* border: 1px solid #ededed; */
    position: absolute;
    min-height: 400px;
    padding: 0 23px;
    width: 310px;
    color: #333;
    top: 0;
    right: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  .signBox .loginTit {
    /* margin-bottom: 15px; */
    line-height: 60px;
    *zoom: 1;
  }
  .loginTit .tosignup {
    color: #969696;
    float: right;
    font-size: 12px;
  }
  .loginTit .tosignup a {
    color: #e31256;
  }
  .sign .signBox h1 {
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
    font-size: 20px;
    color: #e31256;
  }
  /* 登录框 */
  .signin {
    height: 30px;
    color: #e31256;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
  }
  form input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    vertical-align: middle;
    padding: 10px 8px;
    line-height: 1.5;
    font-size: 14px;
    outline: 0;
    height: auto;
    width: 284px;
  }
  #username,
  #login_password {
    padding-left: 38px;
    width: 252px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: url(../img/sign.png) no-repeat;
  }
  #login_password {
    background-position-y: -50px;
  }
  .textbox_ui .invalid,
  .textbox_ui .focus_text {
    word-break: keep-all;
    white-space: nowrap;
    margin: 5px 0;
    color: #999;
    top: 100%;
    left: 0;
    font-size: 12px;
  }

  /* 滑动 */
  .sliding_L {
    width: 300px;
    height: 32px;
    position: relative;
    /* margin: 20px 0 20px 0; */
  }
  .sliding_L .nc_iconfont {
    text-align: center;
    width: 40px;
    height: 31px;
    line-height: 32px;
    border: 1px solid #ccc;
    position: absolute;
    /* left: 0; */
    cursor: move;
    background: #fff;
    z-index: 3;
  }
  .sliding_L .nc-lang-cnt {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .sliding_I {
    background: #7ac23c;
    height: 32px;
    width: 0;
    position: absolute;
  }
  .sliding_L .sliding_n {
    width: 100%;
    text-align: center;
    line-height: 32px;
    background: #e8e8e8;
    position: absolute;
    left: 0;
    height: 32px;
    /* z-index: 4; */
    /* background-color: red; */
  }
  .sliding_L .imgSan {
    background: url(../img/sign.png) no-repeat center;
    background-position:10px -120px;
    background-color: #fff;
  }
  /* 忘记密码 */
  .sign form p {
    margin: 10px 0;
    width: 300px;
    height: 20px;
    font-size: 12px;
  }
  .sign form p a {
    display: inline-block;
    color: #333333;
    float: right;
  }
  .sign form p input {
    width: 20px;
  }
  /* 登录 */
  input[type="button"] {
    border: 1px solid #f9477a;
    display: inline-block;
    font-family: inherit;
    word-break: keep-all;
    background: #f8296d;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0 30px;
    height: 40px;
    color: #fff;
    border: 0;
  }
  /* qq微信 */
  .iconAccout p {
    font-size: 12px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 15px;
  }
  .iconAccout a {
    text-indent: -9999px;
    background-image: url(../img/icon_light.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin-right: 12px;
    float: left;
  }
  .iconAccout span {
    line-height: 30px;
    position: relative;
    left: -7px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
  }
  .iconAccout span i {
    width: 18px;
    height: 17px;
    display: inline-block;
    position: absolute;
    right: -21px;
    top: 7px;
    top: 5px\9;
    _top: 7px;
    background-image: url(../img/icon_light.jpg);
    background-position: -274px -23px;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .iconAccout div {
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .iconAccout span .slider1 {
    background-position: -274px 0;
  }