/* 头部 */
.header_top{
    width: 100%;
    height: 100px;
}
.cart_top {
    position: relative;
    height: 32px;
    line-height: 32px;
    color: #999999;
    width: 960px;
    margin: 0 auto;
}
.cart_top .user_box {
    position: absolute;
    right: 0;
    top: 0;
}
.cart_header .logo_box .logo {
    width: 130px;
    overflow: hidden;
    float: left;
}
a {
    color: #ed145b;
    text-decoration: none;
}
.cart_top .user_box .out, .cart_top .user_box .query {
    color: #999999;
}
.cart_top .user_box .tips {
    font-style: normal;
    color: #dddddd;
    padding: 0 5px;
}
.cart_header_box {
    border-bottom: 2px solid #e5e5e5;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    padding-bottom: 15px;
    height: 67px;
}
.clearfix {
    *zoom: 1;
}
.cart_header {
    width: 960px;
    margin: 0 auto;
}
.cart_header .logo_box {
    float: left;
    height: 50px;
}
.cart_header .order_path_1 {
    background: url(http://f0.jmstatic.com/static_cart/dist/20191009_1/images/order_path.png) no-repeat;
    background-position: -2px -2px;
}
.cart_header .order_path {
    float: right;
    width: 377px;
    height: 48px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.cart_header .logo_box .text {
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    font-weight: normal;
}

/* 头部结束 */
.body_center_boss{
    width: 100%;
    height: auto;
}
.body_center{
    width: 960px;
    margin: auto;
    min-height: 300px;
    margin-top: 20px;
}
.body_center_ta{
   
        width: 100%;
        margin: 10px 0 0;
        font-size: 12px;
        border: 1px solid #eee;
    
}
.body_center_ta th.cart_overview {
    width: 56%;
}
.cart_group_header {
    height: 34px;
    line-height: 34px;
    text-align: left;
    border-left: 5px solid #ed145b;
}
.cart_group_header .cart_group_selector {
    margin: 0 0 0 5px;
}
.cart_group_header h2 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 5px 0 2px;
    padding: 0;
}

/* tbody */
.cart_item {
    border-collapse: collapse;
    border-bottom: 1px dotted #ddd;
    *border-top: none;
    *border-bottom: none;
}
.cart_item td {
    *border-bottom: 1px dotted #ddd;
}
.cart_item .no{
    pointer-events: auto !important;
}
.cart_item .notClick{
    pointer-events: none !important;
}
.cart_item_desc {
    text-align: left;
}
.cart_item_desc .cart_item_selector {
    float: left;
    margin: 40px 0 0 8px;
}
input, select, textarea {
    *font-size: 100%;
}
.cart_item_desc .cart_item_desc_wrapper {
    margin: 0 0 0 30px;
    padding: 20px 0 0;
    padding-left: 11px;
}
.cart_item_desc .cart_item_pic {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px 20px 0;
    overflow: hidden;
}
.cart_item_desc .cart_item_pic img{
    width: 60px;
    height: 60px;
}
.cart_item_desc .cart_item_link {
    display: inline-block;
    width: 250px;
    height: 18px;
    line-height: 16px;
    color: #000;
}
.cart_item_desc .sale_info {
    margin-left: 70px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.cart_item_num, .cart_item_option, .cart_item_price, .cart_item_taxes, .cart_item_total {
    height: 60px;
    padding: 20px;
    text-align: center;
}
.item_quantity_editer {
    width: 74px;
    padding-left: 40px;
}
.item_quantity_editer .item_quantity {
    width: 30px;
    height: 20px;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
}
.item_quantity_editer .decrease_one, .item_quantity_editer .increase_one {
    font-size: 16px;
    color: #666;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background: url(../img/add.jpg) repeat-x 0 0 transparent;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.item_quantity_editer .decrease_one, .item_quantity_editer .increase_one, .item_quantity_editer .item_quantity {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.cart_group_item {
    width: 100%;
    margin: 10px 0 0;
    font-size: 12px;
    border: 1px solid #eee;
}
.delete_item {
    background: url(../img/icons.png) no-repeat;
    background-position: -7px -27px;
    cursor: pointer;
}
.icon_small {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-style: normal;
}

/* foot */
.body_center_foot .tfoo_close{
    display: inline-block;
    width:150px;
    height: 40px;
}
.body_center_foot .body_center_foot_f{
   padding-left: 8px;
}
.body_center_foot .span_fi .group_total_price{
font-size: 16px;
color: red;
}
.body_center_foot .span_ft .group_total_price{
    font-size: 20px;
    color: red;
}
.body_center_foot .tfoo_close{
    /* background-color: red; */
    background: #ed145b;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.empty_none{
    width:100%;
    height: 300px;
    text-align: center;
}
.empty_none h2{
    font-size: 40px;
    padding-top:100px;
    color: #c9c9c9;
}
.empty_none .go_index_top{
    font-size: 20px;
    line-height: 40px;
    color: #c9c9c9;
}
.empty_none .go_index_top a{
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #ffffff;
    line-height: 40px;
    background: #ed145b;

}