/* 头部 */
body, html {
  background: #f7f7f7;
}
.header_Top,
.header_center,
.header_bottom ,
.slide_show{
  width: 1090px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  position: relative;
  z-index: 5;
  -webkit-backface-visibility: hidden;
}
.header_Top {
  height: 28px;
  background: #f2f2f2;
  line-height: 28px;
}
.header_Top s {
  text-decoration: none;
}
.header_Top_Boss {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 5;
  -webkit-backface-visibility: hidden;
}
/* 导航框架 */
.headr_Top_A {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  position: relative;
  zoom: 1;
  z-index: 10;
}
.headr_Top_A li a:hover {
  color: #ed155b;
}
.header_top_left {
  float: left;
}
.header_top_left .signin{
  display: none;
}
.header_top_left li {
  float: left;
  margin-right: 20px;
  display: inline;
}
.header_top_left li a,
.header_top_left li {
  color: #6c6c6c;
}
.header_top_right {
  float: right;
  height: 28px;
}
.header_top_right .hover {
  box-shadow: 1px -3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  background: #fff;
  border-bottom: none;
}
.header_top_right li {
  float: left;
  display: inline;
  height: 28px;
  margin-left: 14px;
  position: relative;
  z-index: 9;
  zoom: 1;
}
.header_top_right .iconfont {
  font-size: 3px;
  /* position: absolute; */
  /* left: 0; */
}
.header_top_right a {
  color: #999;
}
.header_top_right .line {
  width: 1px;
  height: 14px;
  float: left;
  margin: 7px 12px 0 0;
  background: #ddd;
  overflow: hidden;
  padding: 0;
}
.header_top_right .item_mobile a {
  color: #ed155b;
}
.header_top_right .item_ijumei,
.header_top_right .item_more {
  padding-right: 18px;
  padding-left: 10px;
}
.header_top_right .sub_nav {
  position: absolute;
  top: 28px;
  left: -1px;
  background: #fff;
  zoom: 1;
  z-index: 1;
  border: 1px solid #ddd;
  padding: 8px 0;
  width: 100px;
  text-align: left;
  border-top: 0;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  display: none;
}
/*头部中间 */
.header_center {
  height: 110px;
  background: #fff;
  margin: 0 auto;
}
.header_center .logo {
  float: left;
  margin-top: 13px;
}
.header_center .logo a {
  width: 165px;
  height: 85px;
  display: block;
  background: url(../img/logo_new_v1.jpg) no-repeat 0 0;
  text-indent: -999em;
}
/* 搜索框 */
.header_center_sear {
  float: left;
  position: relative;
  z-index: 8;
  height: 82px;
  padding-top: 28px;
  width: 536px;
  margin-left: 124px;
}
.header_center_sear input {
  width: 423px;
  padding: 7px 5px;
  border: solid #ed145b;
  border-width: 3px 0 3px 3px;
  float: left;
  font-size: 12px;
  color: #999;
  outline: 0 none;
}
.header_center_sear form {
  width: 536px;
  height: 38px;
}
.header_center_sear .header_search_btn {
  width: 100px;
  height: 35px;
  border: 0 none;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  float: left;
  background: #ed145b;
  cursor: pointer;
  padding: 0;
}
/* 搜索结束 */
/* 购物车 */
.header_center .cart_box {
  float: right;
  margin-top: 33px;
  position: relative;
  z-index: 8;
  -webkit-backface-visibility: hidden;
}
.cart_box .cart_gif {
  float: left;
  width: 28px;
  height: 28px;
  overflow: hidden;
  padding: 0 9px 0 9px;
}
/* 购物车外容器的样式 */
.cart_box .cart_link {
  text-decoration: none;
  display: block;
  width:160px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e5e5e5;
  position: relative;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.cart_box .cart_content_center {
  max-height: 350px;
  overflow: auto;
  margin-bottom: -1px;
  width: 300px;
}
.cart_box .con_all {
  padding: 5px 15px;
  width: 270px;
  background: #f9f9f9;
  overflow: hidden;
  position: relative;
  z-index: 8;
}
.cart_content_all{
  position: absolute;
  left:-180px;
  line-height: 32px;
  border: 1px solid #e5e5e5;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: none;
  width:300px;
}
.cart_box .num_all {
  color: #ed145b;
  text-align: center;
  padding: 0 1px;
  font-size: 14px;
  font-weight: 700;
  font-family: arial;
}
.cart_box .price_gongji {
  float: left;
}
.cart_box .cart_btn {
  position: absolute;
  left: 190px;
  top: 20px;
  width: 98px;
  height: 26px;
  background: #f92a6e;
  border: solid 1px #e00a50;
  color: #fff;
  text-align: center;
  line-height: 26px;
  text-decoration: none;
}
.cart_con_over .single_pic {
  width:80px;
  height:100px;
  float: left;
  overflow: hidden;
}
.cart_con_over .single_pic a {
  border: 1px solid #f5f5f5;
  width:100px;
  height: 200px !important;
  display: inline-block;
}
.cart_box .price_whole {
  width:150px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
}

.cart_con_over .single_pic img {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  display: inline-block;
}
.cart_con_over .single_info {
  width:160px;
  height: 100px;
  padding-left: 10px;
  float: right;
  overflow: hidden;
}
.cart_con_over .single_info .name {
  display: block;
  height:70px;
  line-height: 18px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}
.cart_con_over .single_info .price {
  color: #eb155b;
  font-family: arial;
}
.cart_box .text {
  width:100px;
  height: 32px;
  line-height: 32px;
  color: #666;
  overflow: hidden;
  float: left;
  padding-left: 6px;
  background: #f8f8f8;
}
/* 划过时显示隐藏父容器 */
.cart_box .cart_content {
  position: absolute;
  /* top: 33px; */
  display: none;
  z-index: 2;
  right: 0;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.cart_box .cart_content_zero {
  width: 260px;
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 14px;
  _zoom: 1;
  background: #fff;
}
/* 搜索框下 */
.header_center_sear .hot_word {
  /* overflow: hidden; */
  height: 18px;
  line-height: 18px;
  margin-top: 6px;
  float: left;
  width: 446px;
}
.header_center_sear .hot_word li {
  float: left;
  margin-right: 8px;
}
/* 小竖杠 */
.header_center_sear .hot_word .line {
  overflow: hidden;
  width: 1px;
  height: 12px;
  display: inline-block;
  background: #999;
  margin: 2px 0 -2px 8px;
  padding: 0;
}
.header_center_sear .hot_word a {
  color: #999;
  text-decoration: none;
}
.search_result_pop {
  border: solid 1px #e6e6e6;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
display: none;
}

.search_result_pop .selecte {
  text-indent: 5px;
  height: 26px;
  line-height: 25px;
  overflow: hidden;
  cursor: pointer;
  color: #666;
  margin-left: 0;
  opacity: 0.8;
}
.search_result_pop, .search_result_pop_a {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 26px;
    left: -1px;
}
.search_result_pop,.search_result_pop_a {
    top: 64px;
    z-index: 4;
}
.search_result_pop div label, .search_result_pop_a div label {
    float: right;
    margin-right: 5px;
    color: #919191;
}

.search_result_pop_a{
    /* opacity: 0; */
    display: none;
}

.search_result_pop .selected {
    background: #eee;
    color: #666;
    transition: none;
}
.cart_box .iconfont {
    margin: 4px 3px -2px 5px;
    position: absolute;
    top: -3px;
    right: -4px;
    overflow: hidden;
    font-size: 3px !important;
    z-index: 8;
    text-decoration: none;
}
/* 头部下方 */
.header_bottom_boss{
    height: 38px;
    clear: both;
    width: 100%;
    background: url(http://a1.jmstatic.com/e653901f7f30da9c/nav_new_line.jpg) #000 repeat-x;
}
.header_bottom{
    height: 38px;
    position: relative;
}
.header_bottom_nav{
    float: left;
    height: 38px;
}
.header_bottom_nav .current {
    background: #ed145b;
}
.header_bottom_nav li {
    float: left;
    display: inline;
}
.header_bottom_nav a {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    line-height: 36px;
    padding: 0 22px;
    height: 38px;
    overflow: visible;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}
.header_bottom_nav a:hover{
    opacity: .65;
    color: #fff !important;
    transition: 1s;
}
/* 头部下方右边防伪码 */
.header_bottom .icon_Wrap {
    float: right;
    margin-top: 5px;
    height: 33px;
    overflow: hidden;
}
.header_bottom .icon_Wrap li {
    float: left;
    margin-right: 12px;
    width: 30px;
    overflow: hidden;
}
.header_bottom .icon_Wrap span {
    background: url(http://a3.jmstatic.com/0d4bbfe600f8d38b/z_01new.jpg) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -9px;
    float: left;
    margin-right: 3px;
}
.header_bottom .icon_Wrap b {
    font-weight: 400;
    float: left;
    margin-top: 7px;
    color: #fff;
}
.header_bottom .icon_Wrap .divlist03 .by, .channel_nav_list_wrap .icon_Wrap .divlist03 .pop_by {
    background: url(http://a1.jmstatic.com/79ab7f2d9d35ac68/z03.jpg) no-repeat;
}

/* 轮播图 */

.swiper-container{
  width: 100%;
  height: 350px;
  z-index: 5;
  clear: both;
  position: relative;
}
.slide_boss{
  position: relative;
  clear: both;
}
.swiper-container div:nth-child(1){
  background: url(../img/bjImg1.jpg) no-repeat left;
}
.swiper-container div:nth-child(2){
  background: url(../img/bjImg2.jpg) no-repeat left;
}
.swiper-container div:nth-child(3){
  background: url(../img/bjImg3.jpg) no-repeat left;
}
.swiper-container div:nth-child(4){
  background: url(../img/bjImg4.jpg) no-repeat left;
}
.swiper-container  a {
  display: block;
  width: 1090px;
  height: 350px;
  margin: 0 auto;
  z-index: 6;
}
.swiper-pagination{
  --swiper-theme-color:  #ed145b;
  position: absolute;
  bottom: 0;
  left: 45%;

}
.swiper-pagination li{
width: 30px;
height: 30px;
margin-right: 10px;
border: none;
}
/* 左侧飘窗 */
.home_nav_bar_action {
  opacity: 1;
  filter: Alpha(opacity=100);
  transform: scale(1);
}
.home_nav_bar {
  width: 60px;
  position: fixed;
  top: 100px;
  right: 50%;
  _zoom: 1;
  margin-right: 560px;
  overflow: visible;
  z-index: 12;
  /* opacity: 0; */
  visibility: hidden;
  filter: Alpha(opacity=0);
  transform: scale(1.2);
  transition: all .3s ease;
}
.home_nav_bar .home_nav_border {
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  margin: auto;
}
.home_nav_bar .jumei_idx {
  width: 60px;
  height: 45px;
  font-size: 14px;
  background: #fe6397;
  color: #fff;
  text-align: center;
  padding-top: 14px;
  border-bottom: 1px solid #fff;
}
.home_nav_bar .home_nav_list {
  width: 60px;
}
.home_nav_bar ul {
  border-bottom: 2px solid #fe6397;
}
.home_nav_bar ul li {
  height: 62px;
}
.home_nav_bar a {
  width: 60px;
  height: 22px;
  padding-top: 40px;
  text-align: center;
  display: block;
  color: #8f8f8f;
  background: url(http://a4.jmstatic.com/00ee6e4ce1a1f31f/pc_new.jpg) #fff no-repeat;
}
.home_nav_bar .act {
  color: #fff;
  text-decoration: none;
  background: url(http://a4.jmstatic.com/00ee6e4ce1a1f31f/pc_new.jpg) #fe6397 no-repeat;
}
.home_nav_bar .nav_today_deals .act, .home_nav_bar .nav_today_deals .act:hover {
  background-position: -176px -124px;
}
.home_nav_bar .nav_mustsee a:hover{
  background-position-x: -88px;
}
/* 左侧飘窗完成 */
/* 商品列表头部 */
.layout_1090 {
  width: 1090px;
  margin: 0 auto;
}
.floor_item_title {
  background: url(http://a5.jmstatic.com/c9533ddc6b064f8f/old_top_tit.jpg) center top no-repeat;
  width: 100%;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 20px 0;
}

/* 商品列表 瀑布*/
.today_new_deal .today_deal_tit {
  border-bottom: 2px solid #000;
  position: relative;
}
.today_new_ul .newdeal_box:hover .img_box div{
 display: block !important ;
}
.today_new_deal .floor_head {
  background-position: 0 -203px;
  text-indent: -9999px;
  border: none;
}
.floor_head {
  height: 25px;
  background: url(http://a4.jmstatic.com/eaca15a907581788/main_tit02_02.png) #f7f7f7 no-repeat;
  width: 1090px;
  position: relative;
  margin-top: 20px;
  border-bottom: 2px solid #000;
}
.today_new_deal .today_deals_tip {
  position: absolute;
  bottom: 6px;
  right: 10px;
  padding-left: 20px;
  color: #ed135d;
  background: url(http://a1.jmstatic.com/14cf1eff35352616/clock.jpg) left 4px no-repeat;
}
/* 瀑布 */
.today_new_productlist .today_new_ul {
  width: 1110px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: -20px;
  _overflow: hidden;
}
.today_new_ul .newdeal_box {
  float: left;
  display: inline;
  background: #fff;
  margin-right: 20px;
  width: 330px;
  box-shadow: 2px 2px 4px #e3e3e3;
  padding: 10px;
  margin-bottom: 20px;
  height: 450px;
  position: relative;
}
.newdeal_box .img_box {
  position: relative;
}
.img_box .img_box_href {
  display: block;
  overflow: hidden;
  position: relative;
  background: url(http://a4.jmstatic.com/50c5e3e79b276c92/loading.gif) no-repeat 150px center;
}
.newdeal_box .img_box .img_w1000 {
  margin-left: -238px;
  width: 862px;
  height: 345px;
}
.today_new_detail .title {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  height: 48px;
  font-weight: 400;
  overflow: hidden;
}
.price_box .pnum, .price_box em {
  font-size: 22px;
  color: #ed145b;
  font-family: Arial,Helvetica,sans-serif;
  float: left;
  display: inline;
}
.price_box .mnum {
  text-decoration: line-through;
  color: #929292;
  padding-left: 5px;
  float: left;
  font-family: Arial;
  margin-top: 3px;
  display: inline;
  font-size: 12px;
}
.numtimer_box {
  width: 210px;
  float: right;
  line-height: 45px;
  overflow: hidden;
  height: 45px;
}
.numtimer_box .num_box, .numtimer_box .time_box {
  float: right;
  margin-right: 4px;
  font-family: arial;
  font-size: 14px;
  font-weight: 400;
  color: #939292;
}

.add_cart_box {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
}
.add_cart_box .add_cart, .add_cart_box .deal_tips, .cate_look {
  display: block;
  width: 79px;
  height: 26px;
  color: #fff;
  background: #ed155b;
  line-height: 26px;
  text-align: center;
}
.commit_new .commit_new_box {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #fff;
}
.clearfix:after {
  content: "\00A0";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.newdeal_box .commit_new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 30px;
  overflow: hidden;
  background: rgba(0,0,0,.6);
  display: none;
}
.today_new_deal .today_deal_tit {
  border-bottom: 2px solid #000;
  position: relative;
}

/* 尾部 */
.footer {
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #fff;
  position: relative;
  bottom: -1px;
  height: 738px;
}
.footer_dy {
  height: 95px;
  background: url(http://a1.jmstatic.com/07c1f8519c836ade/footer_dy.jpg) center top no-repeat;
}
.footer_center {
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  background: url(http://a1.jmstatic.com/b8eb8e59f67968ee/footer_btm02_bg.jpg) center top repeat-x;
}
.footer_copyright {
  background: url(http://a3.jmstatic.com/9fab7638c2b22895/newindex_footer_bg.png) #404040 center top repeat-x;
  line-height: 20px;
  padding-bottom: 80px;
  color: #ccc;
}
.footer_credit {
  padding: 30px 0 15px 0;
  border-bottom: 1px solid #ccc;
}

.footer_credit .mostmall {
  width: 130px;
  width: 158px;
}
.footer_credit .foot_link {
  width: 170px;
  height: 140px;
  color: #999;
  font-size: 14px;
  display: block;
  float: left;
  line-height: 18px;
  overflow: hidden;
  text-align: center;
}
.footer_links {
  height: auto;
  padding-top: 30px;
}
.footer_con {
  width: 1090px;
  margin: 0 auto;
  overflow: hidden;
}
.footer_links .linksa {
  width: 160px;
}
.footer_links ul {
  width: 156px;
  height: auto;
  padding-left: 16px;
  float: left;
  zoom: 1;
  overflow: hidden;
}
.footer_links .links {
  color: #666;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  overflow: hidden;
}
.footer_links ul li {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}
.footer_links ul li a {
  height: 22px;
  line-height: 22px;
  color: #666;
  display: block;
  transition: transform .4s linear;
}
.footer_dy {
  height: 95px;
  background: url(http://a1.jmstatic.com/07c1f8519c836ade/footer_dy.jpg) center top no-repeat;
}
.footer_dy .play_box {
  width: 360px;
  height: 95px;
  margin: 0 auto;
}
.footer_dy .play {
  display: none;
  height: 95px;
  background: url(http://a5.jmstatic.com/06d0e4893949e67d/footer_play.png) center center no-repeat;
}
.footer_center {
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  font-size: 12px;
  color: #fff;
  background: url(http://a1.jmstatic.com/b8eb8e59f67968ee/footer_btm02_bg.jpg) center top repeat-x;
}
.footer_center a {
  color: #fff;
  padding-right: 12px;
  height: 48px;
  display: inline-block;
}
.footer_copyright {
  background: url(http://a3.jmstatic.com/9fab7638c2b22895/newindex_footer_bg.png) #404040 center top repeat-x;
  line-height: 20px;
  padding-bottom: 80px;
  color: #ccc;
}
.footer_copyright .footer_con {
  width: 1130px;
}
.footer_copyright .footer_copy_con {
  padding: 14px 0 18px;
  line-height: 23px;
}
.footer_copyright .logo01, .footer_copyright .logo03, .footer_copyright .logo04 {
  cursor: default;
}
.footer_copyright .footer_copy_logo {
  width: 126px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
  background: url(http://a4.jmstatic.com/a6195c982dae0cec/footer_btm_icon.png) no-repeat;
}
.footer_copyright a {
  color: #ccc;
}
.footer_copyright .logo02 {
  background-position: -126px 0;
}
.footer_copyright .logo03 {
  background-position: -252px 0;
}
.footer_copyright .logo04 {
  background-position: -378px 0;
}
.footer_copyright .logo05 {
  background-position: -504px 0;
}
.footer_copyright a {
  color: #ccc;
}
.footer_logo6 {
  width: 55px;
  height: 50px;
  background: url(http://f0.jmstatic.com/btstatic/pc_static/bz.jpg) no-repeat;
  display: inline-block;
}
.footer_top .footer_credit .foot_link .first {
  background-image: url(http://a1.jmstatic.com/a80588af4bfc3be4/footer_0901.jpg);
}
.footer_credit .foot_link .corn {
  width: 63px;
  height: 63px;
  display: block;
  overflow: hidden;
  margin: 0 auto 20px;
  cursor: pointer;
  background: url(http://a4.jmstatic.com/2198d559e0e2c3fd/footer_new.png) no-repeat;
}
.footer_credit .quality .corn {
  background-position: -64px 0;
}
.footer_credit .back .corn {
  background-position: -128px 0;
}
.footer_credit .consignment .corn {
  background-position: -253px 0;
}
.footer_credit .packaging .corn {
  background-position: -316px 0;
}
.footer_credit .confide .corn {
  background-position: -379px 0;
}
.footer_credit a.foot_link .con {
  color: #333;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}



/* 右侧悬窗 */
.ibar {
  height: 100%;
  width: 40px;
  font-size: 12px;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1000;
}
.ibar_main_panel {
  width: 40px;
  height: 640px;
  position: absolute;
  background: #444851;
  z-index: 2;
  top: 0;
  left: 40px;
  font-family: 'microsoft yahei',arial;
}
.ibar_main_panel .ibar_mp_center {
  position: absolute;
  top: 50%;
  margin-top: -190px;
  left: 0;
  background: #444851;
  z-index: 2;
}
.ibar_main_panel li {
  position: relative;
  display: block;
  height: 38px;
  z-index: 1;
}
.ibar_main_panel a {
  display: block;
  line-height: 200px;
  width: 40px;
  height: 38px;
  text-decoration: none;
  color: #d8d8d8;
  overflow: hidden;
  background-color: #444851;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}
.ibar_mp_center .mpbtn_login s {
  width: 18px;
  height: 19px;
  top: 10px;
  left: 11px;
}
.ibar_main_panel s {
  position: absolute;
  cursor: pointer;
}
.ibar .ibar_closebtn, .ibar_login_box .icon_arrow_white, .ibar_login_box .login_btnbox a, .ibar_main_panel s, .ibar_mp_bottom .mp_qrcode .icon_arrow_white, .ibar_mp_center .mpbtn_cart a, .ibar_tips_box .tips_cart_box .icon_arrow_white, .ibar_tips_box .tips_cash_box .icon_arrow_white, .ibar_tips_box .tips_customer_box .icon_arrow_white, .ibar_user_content s {
  background-image: url(http://a5.jmstatic.com/2f861dd916ce9a15/ibar_sprites.png);
  background-repeat: no-repeat;
}
.ibar_mp_bottom .mpbtn_gotop a s {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 14px;
  top: 12px;
  left: 12px;
  background-position: 0 -201px;
}
.ibar_mp_center .mpbtn_cart {
  padding: 20px 0 10px;
  height: 133px;
}
.ibar_mp_center .mpbtn_cart a {
  line-height: 16px;
  height: 133px;
  background-position: -23px -225px;
  color: #fff;
}
.ibar_mp_center .mpbtn_cart a s {
  width: 23px;
  height: 18px;
  top: 11px;
  left: 9px;
  background-position: 0 -29px;
}
.ibar_mp_center .mpbtn_cart .text {
  width: 16px;
  display: block;
  height: 48px;
  margin: 38px 0 0 14px;
  cursor: pointer;
}
.ibar_mp_center .mpbtn_asset {
  padding-bottom: 6px;
  height: 38px;
}
.ibar_mp_center .mpbtn_asset a s {
  width: 18px;
  height: 18px;
  background-position: 0 -57px;
  top: 10px;
  left: 11px;
}
.ibar_mp_center .mpbtn_favorite {
  padding-bottom: 6px;
}
.ibar_mp_center .mpbtn_favorite a s {
  width: 18px;
  height: 15px;
  background-position: 0 -85px;
  top: 11px;
  left: 11px;
}
.ibar_mp_bottom{
  position: absolute;
  left: 0;
  bottom: 0;
}
.sopping_bottom .cart_con_over{
  position: relative;
  margin-top: 20px;
  width: 310px;
}

.sopping_bottom{
  background-color: #fff;
  width: 300px;
  /* height:350px; */
  position: absolute;
  left: -320px;
  bottom: -150px;
  box-shadow: 2px 2px 4px #e3e3e3;
  padding: 10px;
}
.sopping_bottom .soppong_bottom_top{
  width: 310px;
  height: 400px;
  overflow: auto;
}
.sopping_bottom .cart_con_single{
  width: 300px;
  height: 100px;
}
.sopping_bottom .cart_con_single  .single_pic{
  position: absolute;
  left: 0;
  width: 100px;
  height:80px;
  float: left;
  margin-top: 30px;
}
.sopping_bottom .cart_con_single  .single_pic img{
  width: 100px;
  height:80px;
}
.sopping_bottom .cart_con_single .single_info{
  width: 180px;
  height:140px;
  float: right;
}
.cart_con_single .single_info a{
   width: 170px;
  height:80px;
  background-color: #fff;
}
.soppong_bottom_bottom{
  width: 300px;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  background-color: #fff;
  position: relative;
}

.soppong_bottom_bottom .price_gongji{
  width: 140px;
  height: 50px;
  float: left;
}
.soppong_bottom_bottom .cart_btn{
  display: inline-block;
  width:150px;
  height: 50px !important;
  background-color: #ed155b;
  position: absolute;
margin-left: 150px;
line-height: 50px !important;
font-size: 20px;
text-align: center;
}
.soppong_bottom_bottom .price_whole{
  float: left;
}

.shopping_none{
  display: none;
  position: absolute;
  width: 200px;
  height: 100px;
  left: -200px;
  bottom: 20px;
  box-shadow: 2px 2px 4px #e3e3e3;
  background-color:rgba(255,255,255,0.8)

}
.shopping_none .cart_content_zero{
  height: 100px;
  width: 100%;
  line-height: 40px;
  color: #232323;
  font-size: 16px;
  text-indent: 10px;
  padding: 10px;
}